.root#index .mv {
  padding-top: 60px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .root#index .mv {
    padding-top: 0;
  }
}

.root#index .mv__slider {
  position: relative;
  width: 1112px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .root#index .mv__slider {
    width: 100%;
    margin-bottom: 25px;
  }
}

.root#index .mv__slider .slick-arrow {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: #E8E8E8;
  font-size: 0;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.root#index .mv__slider .slick-arrow:hover {
  cursor: pointer;
}

.root#index .mv__slider .slick-arrow:after {
  content: "";
  width: 20px;
  height: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -10px;
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 0 0;
}

.root#index .mv__slider .slick-arrow.slick-prev {
  left: -40px;
}

.root#index .mv__slider .slick-arrow.slick-prev:after {
  background-image: url(../../images/root/icon_sliderArrow.svg);
  transform: rotate(180deg);
}

.root#index .mv__slider .slick-arrow.slick-next {
  right: -40px;
}

.root#index .mv__slider .slick-arrow.slick-next:after {
  background-image: url(../../images/root/icon_sliderArrow.svg);
}

.root#index .mv__slider .slick-dots {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0;
}

@media only screen and (max-width: 767px) {
  .root#index .mv__slider .slick-dots {
    bottom: -25px;
  }
}

.root#index .mv__slider .slick-dots > li {
  display: inline-block;
  margin-left: 20px;
}

.root#index .mv__slider .slick-dots > li:first-child {
  margin-left: 0;
}

.root#index .mv__slider .slick-dots > li > button {
  width: 40px;
  height: 10px;
  background-color: #C0C0C0;
  font-size: 0;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

@media only screen and (max-width: 767px) {
  .root#index .mv__slider .slick-dots > li > button {
    width: 20px;
    height: 10px;
  }
}

.root#index .mv__slider .slick-dots > li > button:hover {
  cursor: pointer;
}

.root#index .mv__slider .slick-dots > li.slick-active > button {
  background-color: #004DA3;
}

.root#index .bread {
  margin-bottom: 35px;
}

@media only screen and (max-width: 767px) {
  .root#index .bread {
    margin-bottom: 25px;
  }
}

.root#index .notification {
  margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .root#index .notification {
    margin-bottom: 25px;
  }
}

.root#index .notification__holder {
  background-color: #FFF3B7;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}

@media only screen and (max-width: 767px) {
  .root#index .notification__holder {
    padding: 12px;
    text-align: left;
  }
}

.root#index .notification__holder__text {
  position: relative;
  display: inline-block;
  color: #D10404;
  font-size: 16px;
  font-size: 1.6rem;
  padding-left: 50px;
  line-height: 1.21428571429;
}

@media only screen and (max-width: 767px) {
  .root#index .notification__holder__text {
    font-size: 14px;
    font-size: 1.4rem;
    padding-left: 40px;
  }
}

.root#index .notification__holder__text__icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -18px;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .root#index .notification__holder__text__icon {
    margin-top: -13px;
  }
}

.root#index .notification__holder__text__icon > img {
  width: 32px;
}

@media only screen and (max-width: 767px) {
  .root#index .notification__holder__text__icon > img {
    width: 22px;
  }
}

.root#index .mainContentsMenu {
  padding-bottom: 75px;
}

@media only screen and (max-width: 767px) {
  .root#index .mainContentsMenu {
    padding-bottom: 55px;
  }
}

.root#index .mainContentsMenu__itemList {
  margin-bottom: -35px;
}

@media only screen and (max-width: 767px) {
  .root#index .mainContentsMenu__itemList {
    margin-bottom: -25px;
  }
}

.root#index .mainContentsMenu__itemList__item {
  width: 280px;
  float: left;
  margin-left: 24px;
  margin-bottom: 35px;
}

.root#index .mainContentsMenu__itemList__item:nth-child(4n+1) {
  clear: both;
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .root#index .mainContentsMenu__itemList__item {
    width: 48%;
    margin-left: 4%;
    margin-bottom: 25px;
  }
  .root#index .mainContentsMenu__itemList__item:nth-child(4n+1) {
    clear: both;
    margin-left: 4%;
  }
  .root#index .mainContentsMenu__itemList__item:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}

.root#index .mainContentsMenu__itemList__item__anchor {
  display: block;
}

.root#index .mainContentsMenu__itemList__item__anchor__fig {
  position: relative;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .root#index .mainContentsMenu__itemList__item__anchor__fig {
    margin-bottom: 10px;
  }
}

.root#index .mainContentsMenu__itemList__item__anchor__fig:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
}

.root#index .mainContentsMenu__itemList__item__anchor__texts__title {
  color: #004DA3;
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .root#index .mainContentsMenu__itemList__item__anchor__texts__title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
}

.root#index .mainContentsMenu__itemList__item__anchor__texts__price {
  color: #D10404;
  font-weight: 600;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .root#index .mainContentsMenu__itemList__item__anchor__texts__price {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}

.root#index .mainContentsMenu__itemList__item__anchor__texts__explain {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.78571428571;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .root#index .mainContentsMenu__itemList__item__anchor__texts__explain {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.root#index .mainContentsMenu__itemList__item__anchor:hover {
  opacity: 0.7;
}

.root#index .mainContentsMenu__itemList__item__anchor:hover .mainContentsMenu__itemList__item__anchor__texts__title {
  text-decoration: none;
}

.root#index .mainContentsMenu__itemList__item__anchor:hover .mainContentsMenu__itemList__item__anchor__fig:after {
  border: 4px solid #004DA3;
}

@media only screen and (max-width: 767px) {
  .root#index .mainContentsMenu__itemList__item__anchor:hover .mainContentsMenu__itemList__item__anchor__fig:after {
    border: 2px solid #004DA3;
  }
}

.root#index .pickup {
  padding-bottom: 75px;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup {
    padding-bottom: 55px;
  }
}

.root#index .pickup__hl {
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup__hl {
    margin-bottom: 25px;
  }
}

.root#index .pickup__itemList {
  margin-bottom: -35px;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup__itemList {
    margin-bottom: -25px;
  }
}

.root#index .pickup__itemList__item {
  width: 560px;
  margin-left: 72px;
  float: left;
  margin-bottom: 35px;
}

.root#index .pickup__itemList__item:nth-child(2n+1) {
  margin-left: 0;
  clear: both;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup__itemList__item {
    width: 100%;
    margin: 0;
    clear: both;
    margin-bottom: 25px;
  }
}

.root#index .pickup__itemList__item__anchor {
  display: block;
}

.root#index .pickup__itemList__item__anchor__fig {
  position: relative;
  float: left;
  width: 260px;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup__itemList__item__anchor__fig {
    width: 48%;
  }
}

.root#index .pickup__itemList__item__anchor__fig:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
}

.root#index .pickup__itemList__item__anchor__texts {
  float: right;
  width: 280px;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup__itemList__item__anchor__texts {
    width: 48%;
  }
}

.root#index .pickup__itemList__item__anchor__texts__title {
  color: #004DA3;
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup__itemList__item__anchor__texts__title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
}

.root#index .pickup__itemList__item__anchor__texts__explain {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.78571428571;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup__itemList__item__anchor__texts__explain {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.root#index .pickup__itemList__item__anchor:hover {
  opacity: 0.7;
}

.root#index .pickup__itemList__item__anchor:hover .pickup__itemList__item__anchor__texts__title {
  text-decoration: none;
}

.root#index .pickup__itemList__item__anchor:hover .pickup__itemList__item__anchor__fig:after {
  border: 4px solid #004DA3;
}

@media only screen and (max-width: 767px) {
  .root#index .pickup__itemList__item__anchor:hover .pickup__itemList__item__anchor__fig:after {
    border: 2px solid #004DA3;
  }
}

.root#index .productList {
  padding-bottom: 75px;
}

@media only screen and (max-width: 767px) {
  .root#index .productList {
    padding-bottom: 55px;
  }
}

.root#index .productList__hl {
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .root#index .productList__hl {
    margin-bottom: 25px;
  }
}

.root#index .productList__itemList {
  margin-bottom: -35px;
}

@media only screen and (max-width: 767px) {
  .root#index .productList__itemList {
    margin-bottom: -25px;
  }
}

.root#index .productList__itemList__item {
  width: 280px;
  float: left;
  margin-left: 24px;
  margin-bottom: 35px;
}

.root#index .productList__itemList__item:nth-child(4n+1) {
  clear: both;
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .root#index .productList__itemList__item {
    width: 48%;
    margin-left: 4%;
    margin-bottom: 25px;
  }
  .root#index .productList__itemList__item:nth-child(4n+1) {
    clear: both;
    margin-left: 4%;
  }
  .root#index .productList__itemList__item:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}

.root#index .productList__itemList__item__anchor {
  display: block;
}

.root#index .productList__itemList__item__anchor__fig {
  position: relative;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .root#index .productList__itemList__item__anchor__fig {
    margin-bottom: 10px;
  }
}

.root#index .productList__itemList__item__anchor__fig:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
}

.root#index .productList__itemList__item__anchor__texts__title {
  color: #004DA3;
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .root#index .productList__itemList__item__anchor__texts__title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
}

.root#index .productList__itemList__item__anchor:hover {
  opacity: 0.7;
}

.root#index .productList__itemList__item__anchor:hover .productList__itemList__item__anchor__texts__title {
  text-decoration: none;
}

.root#index .productList__itemList__item__anchor:hover .productList__itemList__item__anchor__fig:after {
  border: 4px solid #004DA3;
}

@media only screen and (max-width: 767px) {
  .root#index .productList__itemList__item__anchor:hover .productList__itemList__item__anchor__fig:after {
    border: 2px solid #004DA3;
  }
}

.root#index .anotherProductList {
  padding-bottom: 75px;
}

@media only screen and (max-width: 767px) {
  .root#index .anotherProductList {
    padding-bottom: 55px;
  }
}

.root#index .anotherProductList__hl {
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .root#index .anotherProductList__hl {
    margin-bottom: 25px;
  }
}

.root#index .anotherProductList__itemList {
  margin-bottom: -35px;
}

@media only screen and (max-width: 767px) {
  .root#index .anotherProductList__itemList {
    margin-bottom: -25px;
  }
}

.root#index .anotherProductList__itemList__item {
  width: 280px;
  float: left;
  margin-left: 24px;
  margin-bottom: 35px;
}

.root#index .anotherProductList__itemList__item:nth-child(4n+1) {
  clear: both;
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .root#index .anotherProductList__itemList__item {
    width: 48%;
    margin-left: 4%;
    margin-bottom: 25px;
  }
  .root#index .anotherProductList__itemList__item:nth-child(4n+1) {
    clear: both;
    margin-left: 4%;
  }
  .root#index .anotherProductList__itemList__item:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}

.root#index .anotherProductList__itemList__item__anchor {
  display: block;
}

.root#index .anotherProductList__itemList__item__anchor__fig {
  margin-bottom: 25px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .root#index .anotherProductList__itemList__item__anchor__fig {
    margin-bottom: 10px;
  }
}

.root#index .anotherProductList__itemList__item__anchor__fig:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
}

.root#index .anotherProductList__itemList__item__anchor__texts__title {
  color: #004DA3;
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .root#index .anotherProductList__itemList__item__anchor__texts__title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
}

.root#index .anotherProductList__itemList__item__anchor:hover {
  opacity: 0.7;
}

.root#index .anotherProductList__itemList__item__anchor:hover .anotherProductList__itemList__item__anchor__texts__title {
  text-decoration: none;
}

.root#index .anotherProductList__itemList__item__anchor:hover .anotherProductList__itemList__item__anchor__fig:after {
  border: 4px solid #004DA3;
}

@media only screen and (max-width: 767px) {
  .root#index .anotherProductList__itemList__item__anchor:hover .anotherProductList__itemList__item__anchor__fig:after {
    border: 2px solid #004DA3;
  }
}

.root#index .bnrs {
  padding-bottom: 75px;
}

@media only screen and (max-width: 767px) {
  .root#index .bnrs {
    padding-bottom: 55px;
  }
}

.root#index .newInfo {
  padding-bottom: 75px;
}

@media only screen and (max-width: 767px) {
  .root#index .newInfo {
    padding-bottom: 55px;
  }
}

.root#index .newInfo__hl {
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .root#index .newInfo__hl {
    margin-bottom: 25px;
  }
}

.root#index .newInfo__list__item {
  margin-top: 25px;
}

.root#index .newInfo__list__item:first-child {
  margin-top: 0;
}

.root#index .newInfo__list__item__dl__dt {
  float: left;
  font-size: 16px;
  font-size: 1.6rem;
  color: #606060;
  width: 164px;
  line-height: 1.875;
}

@media only screen and (max-width: 767px) {
  .root#index .newInfo__list__item__dl__dt {
    float: none;
    width: 100%;
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.root#index .newInfo__list__item__dl__dd {
  float: left;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.875;
  width: 1028px;
}

@media only screen and (max-width: 767px) {
  .root#index .newInfo__list__item__dl__dd {
    float: none;
    width: 100%;
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.root#index .newInfo__list__item__dl__dd > a {
  text-decoration: underline;
  display: block;
}

.root#index .newInfo__list__item__dl__dd > a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.root#index .newInfo__btnWrap {
  text-align: center;
  margin-top: 45px;
}

@media only screen and (max-width: 767px) {
  .root#index .newInfo__btnWrap {
    margin-top: 35px;
  }
}
